
body {
  margin: 0;
  font-family: Inter;
  background: #f7f5ff;
}

/* PAGE */
.page {
  display: none;
  padding: 20px;
  text-align: center;
}

.page.active {
  display: block;
}

/* LOGO */
.logo {
  width: 160px;
  margin-top: 20px;
}

/* TEXT */
h1, h2 {
  color: #6C2BD9;
  font-family: Poppins;
}

.slogan {
  color: #555;
  min-height: 20px;
  font-style: italic;
}

/* BUTTON */
button {
  margin: 6px;
  padding: 8px 12px;
  background: #6C2BD9;
  color: white;
  border: none;
  border-radius: 6px;
}

/* INPUT */
input {
  display: block;
  margin: 8px auto;
  padding: 8px;
  width: 200px;
}

/* CARD */
.card {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
  border-radius: 8px;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: -200px;
  top: 0;
  width: 180px;
  height: 100%;
  background: #6C2BD9;
  color: white;
  padding-top: 40px;
  transition: 0.3s;
}

.sidebar.active {
  left: 0;
}

.sidebar p {
  padding: 10px;
  cursor: pointer;
}

/* MENU */
.open-menu {
  position: fixed;
  top: 10px;
  left: 10px;
}
